body {
  text-align: center;
  background-color: #301d18;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #49b9ec;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  border: 3px black;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: orange;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
